h1,
h2,
h3 {
    font-family: 'Acme', sans-serif;
}

body {
    font-family: 'Questrial', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

header,
footer {
    background-color: #b5ffe9;
    text-align: center;
    align-items: center;
    padding: .5em;
    border-radius: .5em;
}

#icon {
    float: left;
    width: 60px;
    height: auto;
}

main {
    background-color: #C9C9C9;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    font-size: 1.1em;

}

nav {
    background-color:#CEABB1;
    text-align: center;
    border-radius: .5em;
    margin-top: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav li a {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #C9C9C9;
    border-radius: 1em;
    
}

#colorimg {
    width: 50%;
    height: auto;
}

#typographyimage {
    width: 90%;
    padding: 2em;
}

#colorcontainer,
#typographysection {
    display: flex;
    justify-content: center;
}

#manonphone {
    width: 30%;
    height: auto;
}

#oldcouple {
    width: 50%;
    height: 50%;
    display: flex;
    padding: 1em;
}

#personas1 {
    display: flex;
    padding: 1em;
}

.personacontent {
    justify-content: space-between;

}

#personas2 {
    display: flex;
}

.details {
    padding-left: 1em;
}

.text {
    padding: .5em 1em .5em 1em;
}




@media only screen and (max-width: 32.5em) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        padding: 0;
    }

    #personas1,
    #personas2 {
        font-size: 2em;
        display: block;
    }

    #manonphone {
        width: 50%;
        height: 20%;
    }

    main {
        padding: 0;
    }

    .details {
        font-size: .5em;
    }

    #colorimg,
    #typographyimage {
        width: 100%;
    }
}