/* Display for desktop view */
@media only screen and (min-width: 60em) {
    #icon {
        width: 100px;
    }

    main,
    footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    img {
        max-width: 100%;
    }

    .imagehover:hover {
        box-shadow: 0 0 50px;
    }

    #gallery {
        text-align: center;
        width: 100%;
    }

    #galleryimages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3;
        grid-gap: 1.5em;
        
    }

}