/* Display for desktop view */
@media only screen and (min-width: 60em) {
    #icon {
        width: 100px;
    }

    main,
    footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    .weathersummary {
        font-size: 1em;
    }

    .section2 {
        background-color: #C9C9C9;
        border-radius: .5em;
        display: block;

    }

    .forecastheader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forecast {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: #b5ffe9;
    }

    td {
        background-color: white
    }

    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }

    .section3 {
        display: block;
    }

    .article {
        display: block;
    }

    #articleimg {
        width: 40%;
        height: 40%;
        padding-right: 1em;
        padding-bottom: 1em;
        padding-left: .5em;
        float: right;
    }

    #map {
        width: 40%;
        display: initial;
    }
}