/* Display for desktop view */
@media only screen and (min-width: 65em) {

    #profiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .profile {
        font-size: 1.2em;
        width: 50%;
    }

    .info {
        font-size: 1.2em;
        width: 50%;
    }

    .profile-image {
        width: 50%;
    }

}